.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
    padding: var(--gap-1) 0;
}

.about__title {
    font-family: var(--font-days-one);
    font-size: var(--size-title-2);
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0 0 10px var(--color-black-easy);
    padding: 0 var(--gap-1);
}

.about__subtitle {
    font-size: var(--size-text-2);
    text-align: center;
    color: var(--color-white);
    padding: 0 var(--gap-1);
}