.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: var(--gap-1) var(--gap-2);
    background-color: var(--color-black);
    background-image: var(--hero-linear-gradient), url(../../../../public/Hero.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-1);
}

.hero__subtitle {
    font-family: var(--font-days-one);
    font-size: var(--size-title-2);
    text-align: center;
    color: var(--color-white);
    text-shadow: 0 0 10px var(--color-black-easy);
}

.hero__title {
    font-family: var(--font-days-one);
    font-size: var(--size-title-1);
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0 0 10px var(--color-black-easy);
}

/* .hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    background: var(--color-gray-easy);
    font-family: var(--font-days-one);
    font-size: var(--size-text-2);
    text-align: center;
    color: var(--color-white);
    padding: var(--gap-2);
} */

@media (max-width: 1440px) {
    .hero {
        min-height: 75vh;
    }
}

@media (max-width: 992px) {
    .hero {
        min-height: 50vh;
    }

    .hero__content {
        gap: var(--gap-5);
    }
}