.advantages {
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    align-items: center;
    justify-content: center;
    /* padding: var(--gap-1) 0 0 0; */
}

.title {
    position: relative;
    font-family: var(--font-days-one);
    font-size: var(--size-title-2);
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0 0 10px var(--color-black-easy);
    padding: 0 var(--gap-2);
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50vw;
    height: 1px;
    background: var(--color-gray);
}

.title::before {
    left: 100%;
}

.title::after {
    right: 100%;
}