.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
    padding: var(--gap-1) 0;
}

.faq__title {
    font-family: var(--font-days-one);
    font-size: var(--size-title-2);
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0 0 10px var(--color-black-easy);
    padding: 0 var(--gap-1);
}

:global(.accordion) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

:global(.ac) {
    margin: 0;
    border: none;
    background-color: var(--color-black);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../../../public/faq.png);
    background-size: cover;
    background-position: 56% 72.5%;
    background-repeat: no-repeat;
    border: 1px solid #252525;
    border-radius: 0 50px 50px 0;
    width: 75%;
}

:global(.ac-right) {
    margin-left: auto;
    border-radius: 50px 0px 0px 50px;
}

:global(.ac-header) {
    display: flex;
    flex-direction: row;
    min-height: 100px;
}

:global(.ac .ac-trigger) {
    font-family: var(--font-days-one);
    font-size: var(--size-title-3);
    text-align: center;
    align-items: center;
    color: var(--color-white);
    padding: 25px 100px 25px 100px;
}

:global(.ac .ac-trigger::after) {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-orange);
    top: 50%;
    right: 15px;
    background-image: url(../../../../public/accordplus.png);
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

:global(.ac-right .ac-trigger::after) {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-orange);
    top: 50%;
    left: 15px;
    background-image: url(../../../../public/accordplus.png);
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}

:global(.ac.is-active>.ac-header .ac-trigger::after) {
    content: "";
    transform: rotate(135deg) translateX(-20px) translateY(20px);
}

:global(.ac .ac-trigger:focus) {
    color: var(--color-white);
}

:global(.ac .ac-panel) {
    padding: 0 var(--gap-5) 0 var(--gap-5);
}

:global(.ac.is-active .ac-panel) {
    padding: 0 var(--gap-5) 0 var(--gap-5);
    margin-bottom: var(--gap-5);
}

:global(.ac .ac-panel .ac-text) {
    font-size: var(--size-text-2);
    text-align: center;
    color: var(--color-white);
    padding: 0;
}

@media (max-width: 992px) {
    :global(.ac) {
        width: 90%;
    }

    :global(.ac .ac-trigger) {
        padding: 30px 100px 30px 10px;
    }

    :global(.ac-right .ac-trigger) {
        padding: 30px 10px 30px 100px;
    }
}