.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
    padding: var(--gap-1) 0;
}

.services__title {
    font-family: var(--font-days-one);
    font-size: var(--size-title-2);
    text-align: center;
    color: var(--color-orange);
    text-shadow: 0 0 10px var(--color-black-easy);
    padding: 0 var(--gap-1);
}

.services__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--gap-1);
    gap: var(--gap-2);
}

.services__text {
    font-size: var(--size-text-2);
    text-align: center;
    color: var(--color-white);
}

.services__text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-4);
}

.services__text-item {
    padding: var(--gap-6) var(--gap-5);
    border-top: 1px solid var(--color-orange);
    border-bottom: 1px solid var(--color-orange);
    border-left: 5px solid var(--color-orange);
    border-right: 5px solid var(--color-orange);
    border-radius: 10px;
}

:global(.swiper) {
    width: 100%;
    position: relative;
}

:global(.swiper-slide) {
    min-height: 650px;
    padding: var(--gap-2) 0;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services :global(.swiper-horizontal) :global(.swiper-button-next) {
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(253, 106, 17, 0.75) 50%);
    width: clamp(156px, calc(156px + (215 - 156) * ((100vw - 1440px) / (1920 - 1440))), 215px);
}

.services :global(.swiper-horizontal) :global(.swiper-button-next) svg {
    display: none;
}

.services :global(.swiper-horizontal) :global(.swiper-button-prev) {
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background: #000000;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 10%, rgba(253, 106, 17, 0.75) 50%);
    width: clamp(156px, calc(156px + (215 - 156) * ((100vw - 1440px) / (1920 - 1440))), 215px);
}

.services :global(.swiper-horizontal) :global(.swiper-button-prev) svg {
    display: none;
}

:global(.swiper-pagination) {
    display: none;
}

:global(.swiper-pagination-bullet) {
    display: none;
}

:global(.swiper-pagination-bullet-active) {
    display: none;
}

:global(.swiper-scrollbar) {
    display: none;
}

:global(.swiper-scrollbar-drag) {
    display: none;
}

.service-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5);
    padding: var(--gap-2) var(--gap-4);
    background: var(--color-black-really-easy);
    width: 100%;
}

.service-card__title {
    font-family: var(--font-days-one);
    font-size: var(--size-title-3);
    text-align: center;
    color: var(--color-orange);
}

.service-card__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-4);
}

.service-card__list-item {
    display: flex;
    justify-self: center;
}

.service-card__list-link {
    font-weight: bold;
    font-size: var(--size-text-3);
    text-align: center;
    color: var(--color-white);
}

@media (max-width: 1440px) {
    :global(.swiper-slide) {
        min-height: 500px;
    }
}

@media (max-width: 992px) {
    .services :global(.swiper-horizontal) :global(.swiper-button-prev) {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 10%, rgba(253, 106, 17, 0.75) 85%);
        width: 50px;
    }

    .services :global(.swiper-horizontal) :global(.swiper-button-next) {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 0%, rgba(253, 106, 17, 0.75) 85%);
        width: 50px;
    }
}